@import '../share.scss';

.pages {
  background-color: #fdfcfc;
  border-right: 1px solid #e7e5e0;
  padding: $spacing;

  button {
    margin-left: $spacing;
  }

  h3 {
    margin-bottom: $spacing;
    margin-top: 0;
  }

  .new-page {
    margin-bottom: 16px;

    form {
      display: flex;
      align-items: center;
    }

    .add-btn {
      height: 32px;
      font-size: 16px;
    }

    input[type='text'] {
      height: 22px;
    }
  }

  .page {
    border-top: solid #e7e5e0 1px;
    display: flex;
    justify-content: space-between;
    margin: 0 (-$spacing);
    padding: $spacing * 1.5 $spacing;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f4f4f4;
      cursor: pointer;

      .delete-btn {
        display: block;
      }
    }

    &.selected {
      background-color: #ff7e00;
      color: white;

      &:hover {
        background-color: #ff7e00;
      }

      .delete-btn {
        background-color: white;
        color: #ff7e00;
      }
    }

    .delete-btn {
      background-color: #ff7e00;
      border-radius: 20px;
      border: none;
      color: white;
      cursor: pointer;
      display: none;
      font-size: 14px;
      height: 18px;
      line-height: 0;
      padding: 0;
      width: 18px;
    }
  }
}
