@import '../share.scss';

.pages {
  padding: $spacing;

  button {
    margin-left: $spacing;
  }

  .delete-btn {
    border: none;
    color: red;
  }

  h3 {
    margin-bottom: $spacing;
    margin-top: 0;
  }

  .new-page {
    margin-bottom: $spacing;
  }

  .page {
    border-top: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 5px;

    &.selected {
      color: green;
      font-weight: bold;
    }
  }
}
