@import '../share.scss';

.toggle-buttons {
  display: inline-block;

  button {
    background-color: white;
    color: black;
    margin-left: $spacing;
  }

  button.selected {
    background-color: lightgreen;
  }
}
