@import '../share.scss';

.toggle-buttons {
  display: inline-block;

  button {
    border: 2px solid $gray4;
    color: $gray4;
    margin-bottom: -1px;

    &:hover {
      background-color: $gray3;
      color: $gray4;
    }

    &:not(:first-of-type) {
      margin-left: $spacing;
    }

    &.selected {
      background-color: $gray4;
      color: white;

      &:hover {
        background-color: $gray5;
        color: white;
      }
    }
  }
}
