@import '../share.scss';

.toggle-buttons {
  display: inline-block;
  button {
    border: 2px solid #5b6770;
    color: #5b6770;

    &:hover {
      background-color: #cacaca;
      color: #5b6770;
    }

    &.selected {
      background-color: #5b6770;
      border: solid 2px #5b6770;
      color: white;

      &:hover {
        background-color: #3a3a3a;
        color: white;
      }
    }
  }
}
