@import '../share.scss';

.ui-designer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  header {
    background-color: #f4f4f4;
    box-shadow: 0 3px 3px #ddd;
    padding: $spacing;
    z-index: 0;

    .logo {
      width: 125px;
      float: left;
    }
  }
  .mode {
    float: right;

    button {
      background-color: #cccccc;
      border: none;

      &.selected {
        background-color: #5b6770;
        color: white;
      }
    }
  }

  .component-display {
    flex-grow: 1;

    // The components
    & > * {
      display: inline-block;
      position: absolute;
      left: 225px; // initial position
      top: 200px; // initial position
    }

    &.edit .container {
      outline: solid #e7e5e0 1px;

      &.selected {
        outline: solid #ff7e00 3px;
      }
    }
  }

  .component-select {
    align-items: center;
    border-bottom: solid #e7e5e0 1px;
    padding: $spacing * 1.5 $spacing;

    .add {
      float: left;
    }

    button {
      margin-left: $spacing;
    }

    select {
      font-size: 14px;
      height: 28px;
      min-width: 150px;
    }
  }

  .main {
    display: flex;
    flex-grow: 1;
  }
}
