@import '../share.scss';

.ui-designer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .component-display {
    flex-grow: 1;

    &.edit .container {
      outline: solid $gray2 1px;

      &.selected {
        outline: solid $primary-orange 3px;
      }
    }
  }

  header {
    background-color: $gray1;
    box-shadow: 0 3px 3px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing;
    z-index: 0;

    button {
      background-color: $gray3;
      border: none;
      margin-left: $spacing;

      &.selected {
        background-color: $gray4;
        color: white;
      }
    }

    .logo {
      width: 125px;
    }
  }

  .main {
    display: flex;
    flex-grow: 1;

    .middle {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
