@import '../share.scss';

.ui-designer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .component-display {
    flex-grow: 1;

    &.edit .container {
      outline: solid $gray2 1px;

      &.selected {
        outline: solid $primary-orange 3px;
      }
    }
  }

  header {
    background-color: $gray1;
    box-shadow: 0 3px 3px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing;
    z-index: 0;

    button {
      background-color: $gray3;
      border: none;
      margin-left: $spacing;
    }

    .logo {
      width: 125px;
    }
  }

  .main {
    display: flex;
    flex-grow: 1;

    .middle {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .react-grid-item {
    display: flex;

    &.horizontal-flex-end {
      justify-content: flex-end;
    }
    &.horizontal-flex-start {
      justify-content: flex-start;
    }
    &.horizontal-space-around{
      justify-content: center;
    }

    &.vertical-flex-end {
      align-items: flex-end;
    }
    &.vertical-flex-start {
      align-items: flex-start;
    }
    &.vertical-space-around {
      align-items: center;
    }
  }
}
