@import '../share.scss';

.prop-editor {
  background-color: #f4f4f4;
  border-left: 1px solid #e7e5e0;
  padding: 30px $spacing $spacing $spacing;
  width: 200px;

  .component-name {
    font-weight: bold;
    margin-bottom: $spacing;
  }

  .delete {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-top: $spacing;
    padding: 0;
  }

  .prop-scope {
    display: inline-block;

    & > div {
      display: inline-block;
    }
  }

  .prop-scope-row {
    border-bottom: solid #ccc 1px;
    display: flex;
    justify-content: space-between;
    margin: 0 (-$spacing) ($spacing * 2) (-$spacing);
    padding: 0 10px;
    label {
      color: #5b6770;
      font-size: 15px;
    }

    .toggle-buttons {
      button {
        border: 1px solid #cccccc;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        font-size: 13px;
        padding: $spacing/2 $spacing * 1.5;

        &.selected {
          background-color: #f4f4f4;
          border-bottom: 1px solid #f4f4f4;
          color: #5b6770;
        }
      }
    }
  }

  .row {
    margin-bottom: $spacing;

    input[type='number'],
    input[type='text'],
    textarea {
      width: 100%;
      box-sizing: border-box;
    }

    label {
      display: block;
      font-size: 11px;
      line-height: 22px;
      margin-right: 5px;
    }

    select {
      border: solid lightgray 1px;
      font-size: 11px;
      height: 23px;
      min-width: 150px;
    }
  }
}
