@import '../share.scss';

.prop-editor {
  background-color: #f4f4f4;
  border-left: 1px solid #e7e5e0;
  padding: 25px $spacing $spacing $spacing;
  width: 200px;

  .clear {
    margin-left: 0;
    margin-top: 20px;
  }

  .prop-scope {
    display: inline-block;

    & > div {
      display: inline-block;
    }
  }

  .prop-scope-row {
    border-bottom: solid #ccc 1px;
    margin: (0) (-$spacing) ($spacing*2) (-$spacing);
    padding: 0 10px 5px 10px;

    .toggle-buttons {
      float: right;
      margin-top: -4px;

      button {
        border: 1px solid #cccccc;
        border-radius: 4px 4px 0 0;
        font-size: 13px;
        padding: $spacing/2 $spacing * 1.5;

        &.selected {
          background-color: #f4f4f4;
          border-bottom: 1px solid #f4f4f4;
          color: #5b6770;
        }
      }
    }
  }

  .row {
    margin-bottom: $spacing * 2;

    label {
      font-size: 13px;
      line-height: 22px;
      margin-right: 5px;
      vertical-align: top;
    }
  }
}
